.checkout-form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

.form-group{
display:flex;
flex-direction:column;
gap:6px;
}

.form-group label{
color:white;
font-size:14px;
}

.form-group input,
.form-group select{

background:#111;
border:1px solid #333;
color:white;
padding:12px;
border-radius:6px;
font-size:14px;
transition:0.3s;
}

.form-group input:focus,
.form-group select:focus{
border-color:#7a0000;
outline:none;
}

.checkout-btn{

margin-top:10px;
padding:14px;
background:#7a0000;
color:white;
border:none;
cursor:pointer;
font-size:16px;
transition:0.4s;
}

.checkout-btn:hover{
background:#500000;
}